/Labs/Lab 4/GDAL-3.4.3.data/
/Labs/Lab 4/GDAL-3.4.3.dist-info/
/Labs/Lab 4/osgeo/
/Labs/Lab 4/osgeo_utils/
/Labs/Lab 4/gdal_test.py
/Labs/Lab 4/HS.ipynb
/Labs/Lab 4/Stacked_Kemes_PRISMA
/Labs/Lab 4/Stacked_Kemes_PRISMA.hdr
/Labs/SeyedPooya Soofbaf_Lab 4.zip
